body {
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto', sans-serif;
}
p {
  font-family: 'Rubik', sans-serif;
}
li {
  list-style: none;
}
/*
dark blue:   rgb(45, 66, 82)
light blue:  rgb(130, 156, 174)
dark brown:  rgb(84, 68, 47)
light brown: rgb(173, 154, 128)
*/

#login-form {
  border: 1px solid rgba(200, 200, 200, 0.8);
  padding: 50px;
  max-width: 400px;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 200px;
  box-shadow: 1px 1px 1px 0px rgba(150, 150, 150, 0.8);
}

.content-container {
  padding: 10px;
  overflow: hidden;
}

.post-column {
  margin-bottom: 20px;
}
.post-container {
  width: 100%;
  padding-bottom: 20px;
  margin-top: 10px;
}

.post-image {
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.post-header-container {
  margin-top: 10px;
  overflow: hidden;
}
.post-header-container > p {
  line-height: 40px;
  margin-bottom: 0px;
  margin-right: 5px;
  color: rgba(130, 156, 174, 0.7);
  float: right;
}
.post-header-container > h3 {
  float: left;
}

.post-paragraphs {
  display: block;
}
.post-footer-container {
  width: 100%;
}
.post-author-profile > .post-some-icons {
  margin-left: 10px;
}
.post-author-profile {
  overflow: hidden;
  width: 100%;
}
.post-author-profile > * {
  float: left;
}
.post-author-profile > .profile-author-container > p {
  margin-left: 8px;
  line-height: 21px;
  margin-bottom: 0px;
}
.profile-image-frame {
  width: 40px;
  height: 40px;
  border-radius: 50%;

  margin-bottom: 5px;
  box-shadow: 2px 1px 2px 0px rgba(40, 40, 40, 0.7);
  overflow: hidden;
}

.profile-image-frame > img {
  width: 100%;
  height: 100%;
}

.post-author-subheader {
  font-size: 0.8em;
}

.post-some-icons {
  float: right;
  color: rgba(130, 156, 174, 0.7);
}
.post-some-icons > * {
  line-height: 42px;
  margin-right: 5px;
  float: left;
}
.post-some-icons > p {
  margin-bottom: 0px;
}

html {
  height: 100%;
  background: #f3f3f3;
}

.post-row-narrow {
  max-width: 1200px;
  margin: auto !important;
}

.post-row-narrower {
  max-width: 900px;
  margin: auto !important;
}

.comment-container {
  overflow: hidden;
}

.comment-user-avatar-container {
  height: 100%;
  margin-right: 10px;
  float: left;
}
.comments > ul {
  padding-left: 0;
}
.comments-header {
  margin-top: 10px;
}
.comment {
  width: 100%;
  overflow: hidden;
}
.comment-footer {
  width: 100%;
  overflow: hidden;
  min-height: 20px;
}
.comment-footer > div {
  float: right;
}
.comment-footer > div > * {
  display: inline;
}
.comment-footer > div > i {
  font-size: 36px;
  vertical-align: middle;
  color: rgb(130, 156, 174);
}
.comment-footer > div > p {
  display: inline-block;
  line-height: 36px;
  margin: 0;
}
.comment-content {
  height: 100%;
  float: left;
}
.comment-content > p {
  margin: 0;
}

.office-post-utils-container {
  width: 100%;
}
.office-post-action-container {
  margin: auto;
  overflow: hidden;
  max-width: 220px;
}

.office-post-action-container > div {
  float: left;
  width: 100px;
  padding: 10px;
  border: 1px solid rgb(130, 156, 174);
  margin: 5px;
  color: rgb(130, 156, 174);
  text-align: center;
  cursor: pointer;
}

.office-post-action-container > div:hover {
  color: rgb(45, 66, 82);
  border: 1px solid rgb(45, 66, 82);
}
@media (min-width: 992px) {
}
